textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 256px;
    resize: none;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

label {
    display: block;
}

.hidden {
    display: none;
}

.userscriptTextareaContainer {
    position: relative;
}

.userscriptTextareaContainer .importButtonContainer {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.userscriptTextareaContainer .import.hide {
    display: none;
}

.userscriptTextareaImportDialogue {
    font-size: 0.8em;
}

.userscriptTextareaImportDialogue > button {
    display: block;
    text-align: left;
    background-color: #ffffff;
    width: 100%;
    padding: 4px;
    border: none;
    cursor: pointer;
}

.userscriptTextareaImportDialogue > button:hover,
.userscriptTextareaImportDialogue > button:focus {
    background-color: rgb(226, 226, 226);
}

.hintDialogueContainer {
    position: relative;
    background-color: #ffffff;
    z-index: 1;
}

.hintDialogue {
    color: #000;
    text-decoration: none;

    position: absolute;
    top: 100%;
    top: calc(100% + 8px);
    left: 8px;
    padding: 4px;
    border: 1px solid black;
    box-shadow: 1px 2px 4px #0000001f;
    background-color: #ffffff;
}

#output {
    font-weight: bold;
}

#output.loading, #output.error {
    opacity: 0.4;
}

#output.loading::after {
    content: " is loading...";
    font-style: italic;
}

#output.error::after {
    content: " contains errors.";
    font-style: italic;
}

#shareLink {
    user-select: all;
}

#outSection.highlight {
    background-color: #fff9bf;
    outline: 16px solid #fff9bf;
}
